@page
@model CourseEnquiry1.Pages.CourseEnrollment_ListReadOnlyModel
@{
    ViewData["Title"] = "List of Course Enrollment";
}

@section AdditionalCss {
    <link rel="stylesheet" href="~/css/ui.jqgrid.min.css" />
}

@section AdditionalJavaScript {
    <script src="~/js/jqgrid-i18n/grid.locale-en.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-jqgrid-4.13.2.min.js" asp-append-version="true"></script>

    <script type="text/javascript">
        function courseNameLink(cellvalue, options, rowObject) {
            return "<a href='/Course/Course_Details?id=" + cellvalue + "&returnUrl=/CourseEnrollment/CourseEnrollment_ListReadOnly'>" + cellvalue + "</a>";
        }

        function studentNameLink(cellvalue, options, rowObject) {
            return "<a href='/Student/Student_Details?id=" + cellvalue + "&returnUrl=/CourseEnrollment/CourseEnrollment_ListReadOnly'>" + cellvalue + "</a>";
        }

        $(function () {
            $('#list-grid').jqGrid({
                url: '/CourseEnrollment/CourseEnrollment_ListReadOnly?handler=GridData',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Enrollment Id','Course Name','Student Name','Comments'],
                colModel: [
                    { name: 'EnrollmentId', index: 'EnrollmentId', align: 'right' },
                    { name: 'CourseName', index: 'CourseName', align: 'right', formatter: courseNameLink },
                    { name: 'StudentName', index: 'StudentName', align: 'right', formatter: studentNameLink },
                    { name: 'Comments', index: 'Comments', align: 'left' }
                ],
                pager: $('#list-pager'),
                rowNum: 10,
                pageable: true,
                autoencode: true,
                jsonReader:
                {
                    page: "d.page"
                },
                rowList: [5, 10, 20, 50],
                sortname: 'EnrollmentId',
                sortorder: "asc",
                viewrecords: true,
                caption: 'List of Course Enrollment',
                height: '100%',
                width: '1200'
            });
        });

        // rename the page parameter to _page because asp.net core razor's page model
        // does not recognize the page parameter when passed
        $.extend(jQuery.jgrid.defaults, {
            prmNames: {
                page: "_page"
            }
        });
    </script> 
}

<h2>@ViewData["Title"]</h2>
<br /><br />
<table id="list-grid"></table>
<div id="list-pager"></div>
