<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>B-Fast Framework</h2>
            <h4>www.birlasoft.com</h4>
        </div>
        <img src="https://www.birlasoft.com/sites/all/themes/birlasoft/images/birlasoft-social-sharing-icon.jpg
        " alt="B-Fast Framework">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Web application razor Pages</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Business object/Data layer Pages</a>
   
    
    <mat-divider></mat-divider>
    
    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Help
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Contact us
        </a>

</mat-nav-list>

