@page
@model CourseEnquiry.Pages.Student_AddModel
@section AdditionalJavaScript {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript">
        $(function () {
            $('.datetextbox').datepicker({dateFormat: 'm/d/yy'});
        });
    </script>
}

<h2>Add Record</h2>
@Html.ValidationSummary(true)
<div>
    @Html.Partial("../Shared/_AddEditStudentPartial.cshtml", Model.PartialModel)
</div>
