@page
@model CourseEnquiry1.Pages.Course_ListInlineModel
@using System.Text.RegularExpressions;
@{
    ViewData["Title"] = "List of Course";
}

@section AdditionalCss {
    <link rel="stylesheet" href="~/css/ui.jqgrid.min.css" />
}

@section AdditionalJavaScript {
    <script src="~/js/jqgrid-i18n/grid.locale-en.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-jqgrid-4.13.2.min.js" asp-append-version="true"></script>
    <script src="~/js/jqgrid-listinline.js" asp-append-version="true"></script>

    <script type="text/javascript">
        var urlAndMethod = '/Course/Course_ListInline';
        var errorMessage = '';

        function getSerializedData(currentId) {
            var rowData = $('#list-grid').jqGrid('getRowData', currentId);
            var courseId = rowData.CourseId;

            if (courseId == '')
                courseId = '-1';

            var serializedData =
                "'CourseId':'" + courseId + "'," +
                "'CourseName':'" + $('#' + currentId + '_CourseName').val().replace(/~APOS/g, "'").replace(/~QUOT/g, '"').replace(/~NEWL/g, '\n').replace(/'/g, "\\'") + "'," +
                "'StartDate':'" + $('#' + currentId + '_StartDate').val() + "'," +
                "'EndDate':'" + $('#' + currentId + '_EndDate').val() + "'," +
                "'Fees':'" + $('#' + currentId + '_Fees').val() + "'";

            return serializedData;
        }

        function isDataValid(currentId) {
            var rowData = $('#list-grid').jqGrid('getRowData', currentId);
        
            var courseName = $('#' + currentId + '_CourseName').val();
            var startDate = $('#' + currentId + '_StartDate').val();
            var endDate = $('#' + currentId + '_EndDate').val();
            var fees = $('#' + currentId + '_Fees').val();

            // validation
            if (courseName == '') errorMessage += '- Course Name is required.<br/>';
            if (courseName.length > 50) errorMessage += '- Course Name must be 50 characters or less.<br/>';
            if (startDate == '') errorMessage += '- Start Date is required.<br/>';
            if (startDate != '' && !isDate(startDate)) errorMessage += '- Start Date must be a valid date.<br/>';
            if (endDate == '') errorMessage += '- End Date is required.<br/>';
            if (endDate != '' && !isDate(endDate)) errorMessage += '- End Date must be a valid date.<br/>';
            if (fees == '') errorMessage += '- Fees is required.<br/>';
            if (fees != '' && !isDecimal(fees)) errorMessage += '- Fees must be a decimal.<br/>';

            if (errorMessage == '')
                return true;
            else
                return false;
        }

 
        function editFormatter(cellvalue, options, rowObject) {
            return cellvalue;
        }
 
        function deleteFormatter(cellvalue, options, rowObject) {
            return cellvalue;
        }
 
        $(function () {

            $('#list-grid').jqGrid({
                url: '/Course/Course_ListInline?handler=GridData',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Course Id','Course Name','Start Date','End Date','Fees', '', ''],
                colModel: [
                    { name: 'CourseId', index: 'CourseId', align: 'right' },
                    { name: 'CourseName', index: 'CourseName', align: 'left', editable: true },
                    { name: 'StartDate', index: 'StartDate', align: 'left', editable: true, sorttype: "date", editoptions: { size: 20,  dataInit: function (el) { $(el).datepicker({ dateFormat: 'm/d/yy' }); }} },
                    { name: 'EndDate', index: 'EndDate', align: 'left', editable: true, sorttype: "date", editoptions: { size: 20,  dataInit: function (el) { $(el).datepicker({ dateFormat: 'm/d/yy' }); }} },
                    { name: 'Fees', index: 'Fees', align: 'right', editable: true, formatter: 'currency', formatoptions: { decimalPlaces: 2, prefix: "$"} },
                    { name: 'editoperation', index: 'editoperation', align: 'center', width: 40, sortable: false, formatter: editFormatter },
                    { name: 'deleteoperation', index: 'deleteoperation', align: 'center', width: 40, sortable: false, formatter: deleteFormatter },
                ],
                pager: $('#list-pager'),
                rowNum: 10,
                pageable: true,
                autoencode: true,
                jsonReader:
                {
                    page: "d.page"
                },
                rowList: [5, 10, 20, 50],
                sortname: 'CourseId',
                sortorder: "asc",
                viewrecords: true,
                caption: 'List of Course',
                height: '100%',
                width: '1200',
                gridComplete: function () {
                    var ids = jQuery("#list-grid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var currentid = ids[i];
                        editLink = "<a id='editLink" + currentid + "' href='#' onclick=\"editRow('" + currentid + "', 'ListInlineUpdate');\"><img src='/images/Edit.gif' style='border:none;' /></a>" +
                                "<a id='saveLink" + currentid + "' style='display:none;' href='#' onclick=\"saveRow('" + currentid + "');\"><img src='/images/Checked.gif' style='border:none;' /></a>";

                        deleteLink = "<a href='#' id='deleteLink" + currentid + "' onclick=\"deleteItem('" + currentid + "')\"><img src='/images/Delete.png' style='border:none;' /></a>" +
                            "<a id='cancelLink" + currentid + "' style='display:none;' href='#' onclick=\"cancelRow('" + currentid + "');\"><img src='/images/Unchecked.gif' style='border:none;' /></a>";

                        jQuery("#list-grid").jqGrid('setRowData', ids[i], { editoperation: editLink });
                        jQuery("#list-grid").jqGrid('setRowData', ids[i], { deleteoperation: deleteLink });
                        jQuery("#list-grid").jqGrid('setRowData', ids[i], { auditoperation: auditLink });
                    }
                }
            });
        });

        // rename the page parameter to _page because asp.net core razor's page model
        // does not recognize the page parameter when passed
        $.extend(jQuery.jgrid.defaults, {
            prmNames: {
                page: "_page"
            }
        });
    </script> 
}

<h2>@ViewData["Title"]</h2>
<br /><br />
<div id="errorConfirmationDialog"></div>
<div id="errorDialog"></div>

<a href="#" id="addLink1" onclick="addRow('ListInlineAdd')"><img src="@Url.Content("~/images/Add.gif")" alt="Add New Course" style="border: none;" /></a>&nbsp;<a href="#" id="addLink2" onclick="addRow('ListInlineAdd')">Add New Course</a>
<br /><br />

<table id="list-grid"></table>
<div id="list-pager"></div>
