@page
@model CourseEnquiry1.Pages.Course_ListTotalsModel
@{
    ViewData["Title"] = "List of Course";
}

@section AdditionalCss {
    <link rel="stylesheet" href="~/css/ui.jqgrid.min.css" />
}

@section AdditionalJavaScript {
    <script src="~/js/jqgrid-i18n/grid.locale-en.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-jqgrid-4.13.2.min.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(function () {
            $('#list-grid').jqGrid({
                url: '/Course/Course_ListTotals?handler=GridDataWithTotals',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Course Id','Course Name','Start Date','End Date','Fees'],
                colModel: [
                    { name: 'CourseId', index: 'CourseId', align: 'right' },
                    { name: 'CourseName', index: 'CourseName', align: 'left' },
                    { name: 'StartDate', index: 'StartDate', align: 'left', sorttype: "date" },
                    { name: 'EndDate', index: 'EndDate', align: 'left', sorttype: "date" },
                    { name: 'Fees', index: 'Fees', align: 'right', formatter: 'currency', formatoptions: { decimalPlaces: 2, prefix: "$"} }
                ],
                pager: $('#list-pager'),
                rowNum: 10,
                pageable: true,
                autoencode: true,
                jsonReader:
                {
                    page: "d.page"
                },
                rowList: [5, 10, 20, 50],
                sortname: 'CourseId',
                sortorder: "asc",
                viewrecords: true,
                caption: 'List of Course',
                height: '100%',
                width: '1200',
                footerrow : true,
                gridComplete: function() {
                    var feesTotal = $('#list-grid').jqGrid('getCol', 'Fees', false, 'sum');
                    $('#list-grid').jqGrid('footerData', 'set', { 'Fees': feesTotal });
                }
            });
        });

        // rename the page parameter to _page because asp.net core razor's page model
        // does not recognize the page parameter when passed
        $.extend(jQuery.jgrid.defaults, {
            prmNames: {
                page: "_page"
            }
        });
    </script> 
}

<h2>@ViewData["Title"]</h2>
<br /><br />
<table id="list-grid"></table>
<div id="list-pager"></div>
