@page
@model fourth_tempDB.Pages.WorkflowStepsMaster_ListGroupedByWorKflowIdModel
@{
    ViewData["Title"] = "List of Workflow Steps Master By Workflow Master";
}

@section AdditionalCss {
    <link rel="stylesheet" href="~/css/ui.jqgrid.min.css" />
}

@section AdditionalJavaScript {
    <script src="~/js/jqgrid-i18n/grid.locale-en.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-jqgrid-4.13.2.min.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(function () {
            $('#list-grid').jqGrid({
                url: '/WorkflowStepsMaster/WorkflowStepsMaster_ListGroupedByWorKflowId?handler=GridDataGroupedByWorKflowId',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Step Id','Wor Kflow Id','Approval Level','Description','Auto Approve','Wait Time','Created By','Created On','Updated By','Updated On', ''],
                colModel: [
                    { name: 'StepId', index: 'StepId', align: 'right' },
                    { name: 'WorKflowId', index: 'WorKflowId', align: 'right' },
                    { name: 'ApprovalLevel', index: 'ApprovalLevel', align: 'left' },
                    { name: 'Description', index: 'Description', align: 'left' },
                    { name: 'AutoApprove', index: 'AutoApprove', align: 'left' },
                    { name: 'WaitTime', index: 'WaitTime', align: 'right', formatter: 'integer' },
                    { name: 'CreatedBy', index: 'CreatedBy', align: 'left' },
                    { name: 'CreatedOn', index: 'CreatedOn', align: 'left', sorttype: "date" },
                    { name: 'UpdatedBy', index: 'UpdatedBy', align: 'left' },
                    { name: 'UpdatedOn', index: 'UpdatedOn', align: 'left', sorttype: "date" },
                    { name: 'WorkflowName', index: 'WorkflowName' }
                ],
                pager: $('#list-pager'),
                rowNum: 10,
                pageable: true,
                autoencode: true,
                jsonReader:
                {
                    page: "d.page"
                },
                rowList: [5, 10, 20, 50],
                sortname: 'StepId',
                sortorder: "asc",
                viewrecords: true,
                caption: 'List of Workflow Steps Master By Workflow Master',
                height: '100%',
                width: '1200',
                grouping: true,
                groupingView: {
                    groupField: ['WorkflowName'],
                    groupColumnShow: [false],
                    groupText: ['<b>{0} ({1} items)</b>'],
                    groupDataSorted: true
                }
            });
        });

        // rename the page parameter to _page because asp.net core razor's page model
        // does not recognize the page parameter when passed
        $.extend(jQuery.jgrid.defaults, {
            prmNames: {
                page: "_page"
            }
        });
    </script> 
}

<h2>@ViewData["Title"]</h2>
<br /><br />
<table id="list-grid"></table>
<div id="list-pager"></div>
