
<mat-grid-list cols = "1" rowHeight = "50px">
    <mat-grid-tile 
    [colspan] = "1"
    [rowspan] = "1">Business Objects / Middle Tier
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "1"
    [rowspan] = "1">Business Objects
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "1"
    [rowspan] = "1">Data layer/ Data Tier
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "1"
    [rowspan] = "1">Data Layer
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "1"
    [rowspan] = "1">Models
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "1"
    [rowspan] = "1">Entity Framework
    </mat-grid-tile>
 </mat-grid-list>