@using CourseEnquiry1API.Domain;
@model CourseEnquiry1.PartialModels.AddEditCourseEnrollmentPartialModel

<form method="post">
<input type="hidden" asp-for="ReturnUrl" />
    <div>
        <fieldset>
            <legend></legend>
            <table>
                @if (Model.Operation == CrudOperation.Update)
                {
                    <tr>
                        <td class="editor-label"><label asp-for="CourseEnrollment.EnrollmentId"></label>:</td>
                        <td></td>
                        <td class="editor-field"><input asp-for="CourseEnrollment.EnrollmentId" readonly="readonly" /></td>
                        <td></td>
                    </tr>
                }

                <tr>
                    <td class="editor-label"><label asp-for="CourseEnrollment.CourseName"></label>:</td>
                    <td><span style="color: red;">*</span></td>
                    <td class="editor-field"><select id="courseName" asp-for="CourseEnrollment.CourseName" asp-items="@(new SelectList(Model.CourseDropDownListData, "CourseId", "CourseName"))"><option value="">Select One</option></select></td>
                    <td class="editor-field"><span id="courseNameValidation" style="color: red;"></span></td>
                </tr>
                <tr>
                    <td class="editor-label"><label asp-for="CourseEnrollment.StudentName"></label>:</td>
                    <td><span style="color: red;">*</span></td>
                    <td class="editor-field"><select id="studentName" asp-for="CourseEnrollment.StudentName" asp-items="@(new SelectList(Model.StudentDropDownListData, "StudenId", "StudentName"))"><option value="">Select One</option></select></td>
                    <td class="editor-field"><span id="studentNameValidation" style="color: red;"></span></td>
                </tr>
                <tr>
                    <td class="editor-label"><label asp-for="CourseEnrollment.Comments"></label>:</td>
                    <td></td>
                    <td class="editor-field"><input asp-for="CourseEnrollment.Comments" /></td>
                    <td class="editor-field"><span asp-validation-for="CourseEnrollment.Comments"></span></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">
                        <br />
                        @if (Model.Operation == CrudOperation.Add)
                        {
                            <input type="submit" asp-page-handler="Add" value="Add" class="button-150" />
                        }
                        else
                        {
                            <input type="submit" asp-page-handler="Update" value="Update" class="button-150" />
                        }

                        <input type="button" value="Cancel" onclick="window.location='@Model.ReturnUrl'; return false;" class="button-100" />
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</form>
