@page
@model CourseEnquiry1.Pages.Student_ListInlineModel
@using System.Text.RegularExpressions;
@{
    ViewData["Title"] = "List of Student";
}

@section AdditionalCss {
    <link rel="stylesheet" href="~/css/ui.jqgrid.min.css" />
}

@section AdditionalJavaScript {
    <script src="~/js/jqgrid-i18n/grid.locale-en.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-jqgrid-4.13.2.min.js" asp-append-version="true"></script>
    <script src="~/js/jqgrid-listinline.js" asp-append-version="true"></script>

    <script type="text/javascript">
        var urlAndMethod = '/Student/Student_ListInline';
        var errorMessage = '';

        function getSerializedData(currentId) {
            var rowData = $('#list-grid').jqGrid('getRowData', currentId);
            var studenId = rowData.StudenId;

            if (studenId == '')
                studenId = '-1';

            var serializedData =
                "'StudenId':'" + studenId + "'," +
                "'StudentName':'" + $('#' + currentId + '_StudentName').val().replace(/~APOS/g, "'").replace(/~QUOT/g, '"').replace(/~NEWL/g, '\n').replace(/'/g, "\\'") + "'," +
                "'EmailId':'" + $('#' + currentId + '_EmailId').val().replace(/~APOS/g, "'").replace(/~QUOT/g, '"').replace(/~NEWL/g, '\n').replace(/'/g, "\\'") + "'," +
                "'ContactNumber':'" + $('#' + currentId + '_ContactNumber').val() + "'," +
                "'Password':'" + $('#' + currentId + '_Password').val().replace(/~APOS/g, "'").replace(/~QUOT/g, '"').replace(/~NEWL/g, '\n').replace(/'/g, "\\'") + "'";

            return serializedData;
        }

        function isDataValid(currentId) {
            var rowData = $('#list-grid').jqGrid('getRowData', currentId);
        
            var studentName = $('#' + currentId + '_StudentName').val();
            var emailId = $('#' + currentId + '_EmailId').val();
            var contactNumber = $('#' + currentId + '_ContactNumber').val();
            var password = $('#' + currentId + '_Password').val();

            // validation
            if (studentName == '') errorMessage += '- Student Name is required.<br/>';
            if (studentName.length > 50) errorMessage += '- Student Name must be 50 characters or less.<br/>';
            if (emailId == '') errorMessage += '- Email Id is required.<br/>';
            if (emailId.length > 50) errorMessage += '- Email Id must be 50 characters or less.<br/>';
            if (contactNumber == '') errorMessage += '- Contact Number is required.<br/>';
            if (contactNumber != '' && !isNumeric(contactNumber)) errorMessage += '- Contact Number must be an integer.<br/>';
            if (password == '') errorMessage += '- Password is required.<br/>';
            if (password.length > 50) errorMessage += '- Password must be 50 characters or less.<br/>';

            if (errorMessage == '')
                return true;
            else
                return false;
        }

 
        function editFormatter(cellvalue, options, rowObject) {
            return cellvalue;
        }
 
        function deleteFormatter(cellvalue, options, rowObject) {
            return cellvalue;
        }
 
        $(function () {

            $('#list-grid').jqGrid({
                url: '/Student/Student_ListInline?handler=GridData',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Studen Id','Student Name','Email Id','Contact Number','Password', '', ''],
                colModel: [
                    { name: 'StudenId', index: 'StudenId', align: 'right' },
                    { name: 'StudentName', index: 'StudentName', align: 'left', editable: true },
                    { name: 'EmailId', index: 'EmailId', align: 'left', editable: true },
                    { name: 'ContactNumber', index: 'ContactNumber', align: 'right', editable: true, formatter: 'integer' },
                    { name: 'Password', index: 'Password', align: 'left', editable: true },
                    { name: 'editoperation', index: 'editoperation', align: 'center', width: 40, sortable: false, formatter: editFormatter },
                    { name: 'deleteoperation', index: 'deleteoperation', align: 'center', width: 40, sortable: false, formatter: deleteFormatter },
                ],
                pager: $('#list-pager'),
                rowNum: 10,
                pageable: true,
                autoencode: true,
                jsonReader:
                {
                    page: "d.page"
                },
                rowList: [5, 10, 20, 50],
                sortname: 'StudenId',
                sortorder: "asc",
                viewrecords: true,
                caption: 'List of Student',
                height: '100%',
                width: '1200',
                gridComplete: function () {
                    var ids = jQuery("#list-grid").jqGrid('getDataIDs');
                    for (var i = 0; i < ids.length; i++) {
                        var currentid = ids[i];
                        editLink = "<a id='editLink" + currentid + "' href='#' onclick=\"editRow('" + currentid + "', 'ListInlineUpdate');\"><img src='/images/Edit.gif' style='border:none;' /></a>" +
                                "<a id='saveLink" + currentid + "' style='display:none;' href='#' onclick=\"saveRow('" + currentid + "');\"><img src='/images/Checked.gif' style='border:none;' /></a>";

                        deleteLink = "<a href='#' id='deleteLink" + currentid + "' onclick=\"deleteItem('" + currentid + "')\"><img src='/images/Delete.png' style='border:none;' /></a>" +
                            "<a id='cancelLink" + currentid + "' style='display:none;' href='#' onclick=\"cancelRow('" + currentid + "');\"><img src='/images/Unchecked.gif' style='border:none;' /></a>";

                        jQuery("#list-grid").jqGrid('setRowData', ids[i], { editoperation: editLink });
                        jQuery("#list-grid").jqGrid('setRowData', ids[i], { deleteoperation: deleteLink });
                        jQuery("#list-grid").jqGrid('setRowData', ids[i], { auditoperation: auditLink });
                    }
                }
            });
        });

        // rename the page parameter to _page because asp.net core razor's page model
        // does not recognize the page parameter when passed
        $.extend(jQuery.jgrid.defaults, {
            prmNames: {
                page: "_page"
            }
        });
    </script> 
}

<h2>@ViewData["Title"]</h2>
<br /><br />
<div id="errorConfirmationDialog"></div>
<div id="errorDialog"></div>

<a href="#" id="addLink1" onclick="addRow('ListInlineAdd')"><img src="@Url.Content("~/images/Add.gif")" alt="Add New Student" style="border: none;" /></a>&nbsp;<a href="#" id="addLink2" onclick="addRow('ListInlineAdd')">Add New Student</a>
<br /><br />

<table id="list-grid"></table>
<div id="list-pager"></div>
