@page
@model StudentEnquiry.Pages.Couse_ListScrollLoadModel
@{
    ViewData["Title"] = "List of Couse";
}

@section AdditionalCss {
    <link rel="stylesheet" href="~/css/ui.jqgrid.min.css" />
}

@section AdditionalJavaScript {
    <script src="~/js/jqgrid-i18n/grid.locale-en.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery-jqgrid-4.13.2.min.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(function () {
            $('#list-grid').jqGrid({
                url: '/Couse/Couse_ListScrollLoad?handler=GridData',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['Couseid','Couse Name','Course Start Date','Course End Date','Couse Fees'],
                colModel: [
                    { name: 'Couseid', index: 'Couseid', align: 'right' },
                    { name: 'CouseName', index: 'CouseName', align: 'left' },
                    { name: 'CourseStartDate', index: 'CourseStartDate', align: 'left', sorttype: "date" },
                    { name: 'CourseEndDate', index: 'CourseEndDate', align: 'left', sorttype: "date" },
                    { name: 'CouseFees', index: 'CouseFees', align: 'right', formatter: 'integer' }
                ],
                pager: $('#list-pager'),
                pageable: true,
                autoencode: true,
                jsonReader:
                {
                    page: "d.page"
                },
                scroll: 1,
                gridview: true,
                rownumbers: true,
                rownumWidth: 20,
                rowNum: 20,
                sortname: 'Couseid',
                sortorder: "asc",
                viewrecords: true,
                caption: 'List of Couse',
                height: '250',
                width: '1200'
            });
        });

        // rename the page parameter to _page because asp.net core razor's page model
        // does not recognize the page parameter when passed
        $.extend(jQuery.jgrid.defaults, {
            prmNames: {
                page: "_page"
            }
        });
    </script> 
}

<h2>@ViewData["Title"]</h2>
<br /><br />
<table id="list-grid"></table>
<div id="list-pager"></div>
