@page
@using TemporaryDBappllicationAPI.Domain;
@model TemporaryDBappllication.Pages.UserRoles_UnboundModel

@section AdditionalJavaScript {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript">
        $(function () {
            $('.datetextbox').datepicker({dateFormat: 'm/d/yy'});
        });
    </script>
}

<h2>Unbound Record</h2>
<div>
<form method="post">
<input type="hidden" asp-for="ReturnUrl" />
    <div>
        <fieldset>
            <legend></legend>
            <table>
                <tr>
                    <td class="editor-label"><label asp-for="UserRoles.UserId"></label>:</td>
                    <td></td>
                    <td class="editor-field"><select asp-for="UserRoles.UserId"><option value="">Select One</option></select></td>
                    <td class="editor-field"></td>
                </tr>
                <tr>
                    <td class="editor-label"><label asp-for="UserRoles.RoleId"></label>:</td>
                    <td></td>
                    <td class="editor-field"><select asp-for="UserRoles.RoleId"><option value="">Select One</option></select></td>
                    <td class="editor-field"></td>
                </tr>
                <tr>
                    <td class="editor-label"><label asp-for="UserRoles.Status"></label>:</td>
                    <td></td>
                    <td class="editor-field"><input asp-for="UserRoles.Status" type="checkbox" /></td>
                    <td class="editor-field"></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">
                        <br />
                        <input type="submit" asp-page-handler="Submit" value="Submit" class="button-150" />

                        <input type="button" value="Cancel" onclick="window.location='@Model.ReturnUrl'; return false;" class="button-100" />
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</form>
</div>
